@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(90deg, #4743d0, #880868);
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}
h1{
    color: #ffff;
    font-size: 2.5rem;
    margin-top: 10px;
}
.poke-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 3rem;
    justify-content: space-between;
}

.poke-card{
    width: 300px;
    background-color: #ffff;
    border-radius: 15px;
    padding-bottom: 2rem;
    margin: 20px auto;
}

.poke-card img{
    width: 80%;
}
.poke-card h4{
    font-size: 1.2rem;
}
.poke-container .poke-card:hover{
    opacity: 0.9;
    border: solid black;
    transition: all ease-in-out 0.1s;
}
.poke-card a,h4,p{
    text-decoration: none;
    color: black;
}
.poke-info .poke-card{
    width: 50%;
    padding-bottom: 1px;
}
.poke-info .poke-card p{
    font-weight: bold;
    margin: 10px 0px;
}